<p>Ads are stored within the database table <b>yahoo_apt_ad</b>. The two responsibilities ads have are:</p>

<ul>
	<li>Visual representation of ad</li>
	<li>Expose Yahoo APT per-ad params</li>
</ul>

<p>Every row within the ad table will be available as a block. This provides a simple mechanism for end-users
to place ads where ever they want on the site. It also provides the ability to integrate with other modules
that rely on blocks for layout like panels. By using the internal block system to place ads additional
complexity is avoided and support for other modules like panels just happens.</p>

<p>The Yahoo APT ad bundle has several required and optional configuration options for individual ad placements. All of
which can be found in the native Yahoo APT JavaScript ad code bundle docs. The secondary responsibility of an ad is
to expose those configuration options to end-user. This is done via a form allowing a user to easily configure available
Yahoo APT per-ad parameters.</p>

<p>In several cases per ad parameters can easily be stored in the yahoo_apt_ad table because the options can be
represented by atomic data types such as; int, varchar, char, etc. However two meta-data properties for an ad
allow one or more values. Storing multiple values in a single column using a delimiter
or serialization is very poor database architecture. Therefore, three separate tables are used that contain a foreign key back to the ad which
the meta-data pertains:</p>

<ul>
	<li>yahoo_apt_ad_reporting_tag</li>
	<li>yahoo_apt_ad_custom_content_category</li>
	<li><i>yahoo_apt_ad_size</i></li>
</ul>

<p>With the exception of sizes each one of these tables stores the ad id and a reference to the term for tagging information. Vocabularies are
used for reporting tags and custom content categories because doing so provides the best integration options
with the hierarchical_select module. The Yahoo APT module relies very heavily on the hierarchical_select module
so that tree based data structures can be exposed through the UI in a proper, useable fashion &mdash; not just stuffing
them all in one gigantic list.</p>

<p>In particular the hierarchical_select module makes it easy for users to create new
terms within the vocabulary tree without visiting the vocabulary page. This is nice considering users can be isolated
to content based manipulation without being able to administer structure of the site.</p>

<p>The rows inside yahoo_apt_reporting_tag and custom_content_category will be deleted when the associated
term is deleted. This prevents orphaned data.</p>

<p>The yahoo_apt_ad_size table stores the various sizes for an ad placement. A single ad spot can have multiple sizes. When
a single ad spot has multiple ad sizes the first one takes priority. Multiple sizes can be specified for an ad
to increase the likelihood of a match. The only exception to this rule is when one or more of the sizes for an ad
have a priority specified. When this is the case only a single size will be passed for the ad based on the priority. This
is covered in detail over in the end-user docs on ads.</p>