<p>The architecture of the module is modeled very closely to Yahoo APT. Yahoo APT segments configurable data
into two categories:</p>

<ul>
	<li>shared params</li>
	<li>per ad params</li>
</ul>

<p>When ads are on a page Yahoo APT module always formats the request for multiple ads. The <b>shared params</b>
are those configuration options that are defined once and shared for each and every ad on the page. The <b>per ad</b>
params are those configuration options that can be specified for each individual ad placement specified. The
shared and per ad params available via the Yahoo APT JavaScript Ad Code Bundle are the same as those exposed
via the different representations of each entity within the Yahoo APT Module.</p>


<h2>Entities</h2>

<p>The Yahoo APT module defines two entities:</p>

<ul>
	<li>Ad</li>
	<li>Mapping</li>
</ul>

<p>These are two primary entities. There are several other relational tables that store meta data
but are not represented as entities themselves. The associated relational tables
for each entity will be discussed in the mapping and ad docs.</p>