<h2>Mapping</h2>

<p>Mappings are stored within the table <b>yahoo_apt_mapping</b>. The two responsibilities mappings have are:</p>

<ul>
	<li>Expose Yahoo APT shared parameters</li>
	<li>Turn-off specific ads</li>
</ul>

</p>The Yahoo APT module relies heavily on the <b>context module</b>. As a matter of fact Yahoo APT extends context
functionality with a reaction plug-in named: <b>yahoo_apt_mapping</b>. The yahoo_apt_mapping reaction is what drives 
the ability to change shared ad params between different pages. The yahoo_apt_mapping reaction plug-in is nothing
more than a form that exposes various Yahoo APT JavaScript Ad Code Bundle shared params to the UI.</p>

<p>Similar to the yahoo_apt_ad namespace yahoo_apt_mapping table has several fields for data that can be stored
in a single column. However, like ads mappings also have extra relational tables so that data is properly
normalized rather than stuffed into a poor database architecture. Those tables are:</p>

<ul>
	<li>yahoo_apt_mapping_content_topic</li>
	<li>yahoo_apt_mapping_content_type</li>
	<li>yahoo_apt_mapping_custom_section</li>
	<li><i>yahoo_apt_mapping_ad</i></li>
</ul>

<p>All of the above tables with the exception of yahoo_apt_mapping_ad store a reference to a mapping via
foreign key and varchar column for a value. The tables which do this essentially hold meta-data rather
than terms like the reporting tag or custom content category ad relational tables. The decision to
use meta-data strings rather than creating vocabularies was made because the values should be locked
down &mdash; only through modification of the code should the values be altered.</p>

<p>The yahoo_apt_mapping_ad table contains a foreign key to both a mapping and an ad. By default all ad blocks
on a page will serve ads. However, the mapping form allows this behavior to be overridden through enabling
only specific ads be served, regardless of whether ad blocks are represented on the page. What this means
is that it is possible to specify 5 ad spots in a single region and show a different one on separate pages. This
override occurs when any mapping has one or more rows inside the yahoo_apt_mapping_ad table. Mappings without
any rows inside the yahoo_apt_mapping_ad table will ignore overrides and serve ads for each ad block on the given
page.</p>

<p>It is also important to point out that the yahoo_apt_mapping table forms a 1:1 relationship with the
context table (context module schema). In that each yahoo_apt_mapping belongs to a single context. Furthermore,
the foreign key hosting that relationship inside the yahoo_apt_mapping table is a unique key. Therefore, no
two mappings can belong to the same context.</p>