/* styles specific to the event listing */

.heading-title {
	font-size:2.2em;
	line-height:120%;
	margin-bottom:0;
}

@include bp(small-2) {
	.ds-2col-stacked > .group-left,
	.ds-2col-stacked > .group-right {
		float:none;
		width:100%;
		overflow: hidden;
	}
}

.grey-background {
	background-color:$background-grey;
	box-shadow:0px 0px 7px #d1d1d1 inset;
}

.node-event .group-right {
	height:302px;
	color:$a-color;
	overflow:hidden;
	@include bp(small-2){
		height:auto;
	}

	.field {
		border-bottom:1px solid $bordergrey;
		min-height: 39px;
		padding:17px 17px 18px 58px;
		background-image:url(../img/events-details-icons.png);
		background-repeat:no-repeat;
	}

	/* if there's 4 fields together, remove the bottom border.
	 * We could use :nth child but this is better supported
	 */
	.field + .field + .field + .field {
		border-bottom:0px solid red;
	}

}

.events-date-wrap {
	overflow:hidden;
	font-family: $heading-font-family;
	background-position:18px 21px;

	.event-date-first, .event-date-second {
		float:left;
	}

	.event-date-first {
		font-size:2.5em;
		line-height: 90%;
		font-weight: 400;
	}

	.event-date-second {
		font-family: $default-font-family;
		font-size:0.8em;
		text-transform: uppercase;
		margin-left:0.5em;

		span {
			display: block;

			&:first-child {
				color:$a-hover-color;
			}

			+ span {
				font-size:1.5em;
				font-weight: normal;
				margin-top:0.35em;
			}
		}
	}
}

.event-cost, .event-age {
	font-size: 1.2em;
	line-height: 170%;
	font-family: $heading-font-family;
	background-position:18px -53px;
}

.event-age {
	background-position:18px -131px;
}

.event-where {
	line-height:120%;
	font-family:$default-font-family;
	letter-spacing:0.02em;
	background-position:18px -205px;
}

.event-where-address {
	font-size:1.2em;
	line-height: 125%;
}

.event-where-venue {
	font-size: 1.1em;
	color:$a-hover-color;

	+ .event-where-address {
		font-size: 0.9em;
	}
}

.event-description, .event-website-link {
	margin: 24px;
}

.event-description {
	font-size: 1.2em;
	letter-spacing: 0.02em;
	line-height: 140%;
	@include bp(x-small){
		font-size: 1em;
	}
}

.event-website-link {
	font-size:1.5em;
	font-family:$heading-font-family;
	font-weight:bold;
	display:block;
	@include bp(x-small){
		font-size: 1.2em;
	}
}

.ds-2col-stacked {

	> .group-header + .group-right {
		float:none;
		width:100%;
		height:auto;
	}

	> .group-footer {
		overflow:hidden;
	}
}

/* Arrow */

.arrow {
  margin: 24px 44px 0;
  float:right;
  position:relative;
  width:100px;
  height:30px;
  display: block;
  background:$arrow-color;
  color:white;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 0.8em;
  line-height: 2.2;
  text-align: center;
  z-index: 1;
  text-shadow: 0 1px 0 rgba(72,72,72,.5);
  @include bp(small) {
  	float:none;
  }

  &:hover {
  	color:white;
  	background:$teal;
  }

	&:before {
	  width: 0;
	  height: 0;
	  content:"";
	  position:absolute;
	  z-index: -1;
	  top:0;
	  left:-15px;
	  background: transparent;
	  border-top: 15px solid $arrow-color;
	  border-left: 15px solid transparent;
	  border-bottom: 15px solid $arrow-color;
	  border-right: 15px solid $arrow-color;
	}

	&:hover:before {
	  border-top: 15px solid $teal;
	  border-bottom: 15px solid $teal;
	  border-right: 15px solid $teal;
	}

	&:after {
	  position:absolute;
	  content:"";
	  top:0;
	  right:-30px;
	  width: 0;
	  height: 0;
	  background: transparent;
	  border-left:15px solid $arrow-color;
	  border-right:15px solid transparent;
	  border-top:15px solid transparent;
	  border-bottom:15px solid transparent;
	}

	&:hover:after {
	  border-left:15px solid $teal;
	}

}