/* Footer */

#page_footer {
	background:$a-color;
	color:#ffffff;
	border-left: 10px solid $teal;
	border-right: 10px solid $teal;
	padding:15px 10px;
	font-size:.75em;
}

#bottom_navi_list a{
	color:#ffffff;
}

#footer_bottom_navi {
	border-right:2px solid $teal;
	width:200px;
}

#footer_bottom_navi li {
	padding:10px 0;
}


#footer_bottom_navi li a {
	display:block;
}


#footer_bottom_navi li a:hover {
	color:$a-hover-color;
}