/* Featured Hero Section */

.herobox {
	overflow:hidden;
	background-color:$a-hover-color;
	height:auto;

	.happening, .promo-image, .h-list {
		float:left;
		height:300px;
		background-color:white;
	}

	@include bp(med-2) {
		.promo-image, .h-list {
			height:245px;
		}
	}

	.happening {
		width:percentage(200px / 1020px);
		@include bp(large){
			width:100%;
			height: auto;
			float:none;
			overflow: hidden;
		}
		@include bp(med) {
			border-top:3px solid white;
		}
		@include bp(small-2) {
			border-top:0px solid white;
		}


			li {
				background-color:$teal;
				font-family:$heading-font-family;
				font-size:1.5em;
				font-weight:bold;
				text-transform: uppercase;
				height:91px;
				line-height: 102%;
				letter-spacing: 0.02em;
				color:white;
				@include bp(large){
					float:left;
					width:percentage(337px / 1019px);
					text-align: center;
					height: auto;
				}

				+ li {
					border-top:4px solid white;
					@include bp(large){
						margin-left:percentage(4px / 1019px);
						border-top:0px solid white;
						border-bottom:3px solid white;
						font-size: 1.1em;
						padding:1em 0;
					}
				}

				a {
					color:white;
					display: block;
					padding:0.8em 0.2em 0 0.5em;
					@include bp(large){
						padding:0;
					}
				}
			}

			.happening-featured {
				background-color: $a-hover-color;
				padding:0.7em 0.5em 0;
				font-size: 1.9em;
				position: relative;
				@include bp(large){
					font-size: 1.1em;
					padding:1em 0;
				}
				@include bp(x-small) {
					width:100%;
					padding:0.5em 0;
				}

				&:after {
				  position:absolute;
				  content:"";
				  top:35px;
				  right:-52px;
				  width: 0;
				  height: 0;
				  background: transparent;
				  border-left:21px solid $arrow-color;
				  border-right:21px solid transparent;
				  border-top:21px solid transparent;
				  border-bottom:21px solid transparent;
				  @include bp(large) {
				  	display: none;
				  }
				}

			}

			.happening-month {
				background-color:$a-color;
			}

			@include bp(med) {
				.happening-month span, .happening-week span {
					display: none;
				}
			}

			@include bp(small) {
				.happening-featured span {
					display: none;
				}
			}

			@include bp(x-small) {
				.happening-month, .happening-week {
					display: none;
				}
			}
	}

	.promo-image {
		width: percentage(400px / 1020px);
		margin: 0 percentage(10px / 1020px);
		overflow: hidden;
		float: left;
		@include bp(large){
			width: percentage(399px / 1019px);
			margin: 0 percentage(9px / 1019px);
		}
		@include bp(small-2) {
			float: none;
			width: 98%;
			margin: 0 1%;
		}
	}

	.h-list {
		width: percentage(390px / 1020px);
		margin-right: percentage(10px / 1020px);
		@include bp(large){
			width: percentage(593px / 1019px);
			margin-right: percentage(9px / 1019px);
		}
		@include bp(small-2) {
			float: none;
			width: 100%;
			height: auto;
		}


		li {
			padding:0.5em 0em 0.95em;
			font-size: 1.1em;
			color: $a-hover-color;
			font-weight: bold;
			line-height: 140%;
			background:url(../img/small_red_divider.png) repeat-x left bottom;
			margin:0 1.1em;

			@include bp(med-2) {
				font-size:0.9em;
			}

			@include bp(small-2) {
				font-size: 1em;
				padding:0.6em 0 0.98em;
			}

			.h-who {
				font-size: 1.5em;
				display: block;
				letter-spacing: 0.02em;
			}

			.h-where {
				font-weight: normal;
				font-style: italic;
			}
		}

		a {
			color: $a-hover-color;

			&:hover {
				color:$a-color;
			}
		}
	}

}

/*
<div class="herobox">

	<div class="happening">
		<ul>
			<li class="happening-today">Happening Today &bul; 5/27</li>
			<li class="happening-week">Happening This Week</li>
			<li class="happening-month">Happening This Month</li>
		</ul>
	</div>

	<div class="promo-image">
		<img src="" alt="" />
	</div>

	<div class="h-list">
		<ul>
			<li><span class="h-who">Rilo Kiley w/ Strumpets</span><span class="h-when">8:00 PM</span> <span class="h-where"><a href="">Times Union Center</a></span></li>
			<li><span class="h-who">Rilo Kiley w/ Strumpets</span><span class="h-when">8:00 PM</span> <span class="h-where"><a href="">Times Union Center</a></span></li>
			<li><span class="h-who">Rilo Kiley w/ Strumpets</span><span class="h-when">8:00 PM</span> <span class="h-where"><a href="">Times Union Center</a></span></li>
			<li><span class="h-who">Rilo Kiley w/ Strumpets</span><span class="h-when">8:00 PM</span> <span class="h-where"><a href="">Times Union Center</a></span></li>
	</div>

</div> */