/* Inside */

.page {
	overflow:hidden;
}

#main-content {
	float:left;
	width:percentage(620px / 1020px);
	margin-left: 0;
	@include bp(large-2){
		width: 100%;
		float: none;
	}
}

.page-calendar {
	#main-content {
		float: none;
		width: 100%;
		margin: 0;
		overflow: hidden;
	}
}

.sidebar-first {
	float:left;
	width:percentage(380px / 1020px);
	margin:0 0 0 percentage(20px / 1020px);
	@include bp(large-2){
		width:100%;
		margin:1em 0 0 0;
		float:none;
		overflow: hidden;

		.block {
			width:49%;
			float:left;
			&:nth-child(even){
				margin-left:2%;
			}
		}
	}
	@include bp(med-2) {
		.block {
			width:100%;
			&:nth-child(even){
				margin-left:0;
			}
		}
	}

	.block:not(.block-block) {
		margin-bottom:2em;
		padding-bottom:2.5em;
		overflow: hidden;
		background: url(../img/small_teal_divider.png) bottom center repeat-x;
	}
}

.get_something a {
	text-transform:uppercase;
	color:#ffffff;
	display:block;
	height:30px;
	width:108px;
	line-height:30px;
	font-size:.875em;
	text-align:center;
	@include bp(med-2) {
		text-indent: -9999em;
		overflow: hidden;
		width: auto;
		height: auto;
		position: relative;
		background-image: none;

		&:not(.ticket-me):before {
			content: "";
			position:absolute;
			left:44%;
			top:25%;
		  width: 0;
		  height: 0;
		  background: transparent;
		  border-left:9px solid $arrow-color;
		  border-right:9px solid transparent;
		  border-top:9px solid transparent;
		  border-bottom:9px solid transparent;
		  @include bp(small){
		  	left:38%;
		  }
		}

		&.ticket-me {
			background:url(../img/events-details-icons.png) no-repeat center -70px;
		}

	}
}

.get_tickets {
	@include icons-sprite(red_right);
  	text-shadow: 0 1px 0 rgba(72,72,72,.5);
}

.get_info {
	@include icons-sprite(teal_right);
  	text-shadow: 0 1px 0 rgba(72,72,72,.5);
}

/* styles filters for exposed views */

.page .views-exposed-widgets {
	background: url(../img/small_red_divider.png) repeat-x left bottom;
	padding-bottom:3em;
	@include bp(small) {
		padding-bottom:1.8em;
	}

	.date-padding > div {
		float:left;

		+ div {
			margin-left:10px;
		}
	}

	.views-widget-filter-tid {
		float:right;
		padding:0;
		margin-top: -18px;
		@include bp(small) {
			float:none;
			clear:left;
			margin-top:0;
			padding:10px 0 0 0;
		}
	}

	label {
		line-height: 165%;
	}

	.views-widget-filter-title {
		margin-top:-1em;
	}



	.views-submit-button {
		margin-top:0.61em;
		padding-right:0;
		@include bp(x-small){
			margin-top: 0;
			float: none;
			clear:left;
		}

		.form-submit {
			margin-top:0;
		}
	}

	input[type="text"] {
		padding:0.27em;
	}
}

.views-exposed-form .views-exposed-widget {
	@include bp(small){
		padding-right:0;
	}
}

.search-results {
	background: url(../img/small_red_divider.png) repeat-x left bottom;
	padding-bottom:1em;
	@include bp(med-2) {
		padding-left:0.5em;
	}
}

/* width of whole thing 600 (event_content_area_display) */

.header_when, .item_when{
	width:percentage(100px / 600px);
	@include bp(med-2) {
		width:16%;
	}
	@include bp(small) {
		width:21%;
	}
}

.header_what, .item_what, .header_where, .item_where, .header_how, .item_how {
	padding:0 0 0 percentage(10px / 600px);
	@include bp(med-2) {
		padding:0;
	}
}

.header_what, .item_what{
	width:percentage(189px / 600px);
}

.header_where, .item_where {
	width:percentage(170px / 600px);
}

.item_where {
	font-weight: normal;
	font-size:0.83em;

	@include bp(med-2){
		a {
			color:$a-hover-color;
			font-style: italic;

			&:before {
				content: "\40";
			}
		}
	}
}

.header_how, .item_how {
	width:percentage(110px / 600px);
	@include bp(med-2) {
		width:14%;
		padding:1.1em 0em;
	}
	@include bp(small) {
		width:9%;
	}
}

.listing-item {
	overflow:hidden;
	font-weight:bold;
	border-bottom:2px dashed $teal;

	p {
		float:left;
		margin:20px 0;

		@include bp(med-2){

			margin:0;
			&.item_what, &.item_where {
				float:none;
				width:auto;
			}
		}
	}

	.item_when {
		font-size:0.85em;
		line-height:1.3em;
		@include bp(med-2){
			line-height: 1.2em;
			padding:1.1em 0.4em 0.6em 0.8em;
		}
		@include bp(x-small){
			font-size: 0.8em;
		}
	}

	@include bp(med-2){

		border-bottom:1px dashed $grey;
		font-size:1.06em;

		* {
			@include box-sizing(border-box);
		}

		.item-middle-wrap {
			padding:0.8em 0.2em 1.1em 0.8em;
			float:left;
			display: block;
			width:70%;
			letter-spacing: 0.02em;
			line-height: 130%;
			border-left:1px dashed $grey;
			border-right:1px dashed $grey;
			min-height: 64px;
			@include bp(small) {
				border-right:0px dashed $grey;
				width:70%;
			}
		}
	}
}

#page_eyepiece {
	width:61%;
	height:300px;
	position:relative;
	float: left;
	margin-bottom: 20px;
}

#eyepiece_categories {
	float:left;
	width:200px;
}

.categories_list li {
	display:block;
	width:200px;
	position:relative;

	a {
		width:180px;
		height:76px;
		display:block;
		color:#ffffff;
		font-family:$heading-font-family;
		font-size: 18px;
		line-height:1.0;
		padding:10px;
	}
}

.selected{
	position:relative;
	z-index:10;
}

#box_today {
	border-bottom:4px solid #ffffff;
	background:$a-hover-color;

	.box_time {
		font-size:15px;
	}
}

.selected#box_today:after{
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(233, 47, 74, 0);
	border-left-color: $a-hover-color;
	border-width: 30px;
	top: 50%;
	margin-top: -30px;
}

#box_week {
	border-top:2px solid #ffffff;
	border-bottom:2px solid #ffffff;
	background:$teal;

	.box_time {
		font-size:15px;
	}
}

.selected#box_week:after{
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(119, 196, 211, 0);
	border-left-color: $teal;
	border-width: 30px;
	top: 50%;
	margin-top: -30px;
}

#box_month {
	border-top:4px solid #ffffff;
	background:$a-color;

	.box_time {
		font-size:15px;
	}
}

.selected#box_month:after{
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 55, 69, 0);
	border-left-color: $a-color;
	border-width: 30px;
	top: 50%;
	margin-top: -30px;
}

#view_today .event_list_item a{
	border-bottom:2px dashed $a-hover-color;
}

#view_today .scroll_prev{
	background:url(../img/red_arrow_up.png) center center no-repeat;
}

#view_today .scroll_next{
	background:url(../img/red_arrow_down.png) center center no-repeat;
}

#view_week .scroll_prev{
	background:url(../img/teal_arrow_up.png) center center no-repeat;
}

#view_week .scroll_next{
	background:url(../img/teal_arrow_down.png) center center no-repeat;
}

#view_month .scroll_prev{
	background:url(../img/blue_arrow_up.png) center center no-repeat;
}

#view_month .scroll_next{
	background:url(../img/blue_arrow_down.png) center center no-repeat;
}

#view_week .event_list_item a{
	border-bottom:2px dashed $teal;
}

#view_month .event_list_item a{
	border-bottom:2px dashed $a-color;
}

.category_bold {
	font-weight: bolder;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 8px;
}


#eyepiece_display {
	float:left;
    width: 400px;
	position:relative;
}

.eyepiece_content {
	height:300px;
}

.content_image {
	width:400px;
	height:300px;
	margin:0 10px;
	background:#ffffff;
	display:block;
	float:left;
	overflow:hidden;
}

#view_today a {
	color:$a-hover-color;
}

#view_week a {
	color:$teal;
}

#view_month a {
	color:$a-color;
}

.content_image img {
	width:100%;
	height:auto;
	display:block;
}

.content_event{
	width:38%;
	height:300px;
	background:#ffffff;
	display:block;
	float:left;
	position:relative;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* Scrollbar overrides */
#content_event_list ::-webkit-scrollbar  {
    width: 12px ;
}
#content_event_list ::-webkit-scrollbar-track  {
    -webkit-box-shadow: inset 0 0 6px rgba(143, 5, 5, 0.5);
    border-radius: 10px;
}
#content_event_list ::-webkit-scrollbar-thumb  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(143, 5, 5, 0.5) ;
	 background: rgba(255,0,0,0.8) ;
}


.event_list {
	position:relative;
	margin:0 0px 0 30px;
	overflow: hidden;
}

.event_list_item a {
	font-weight:bold;
	line-height:1.25em;
	display:block;
	padding:10px 0;

	strong {
		font-size:1.375em;
		text-transform:uppercase;
	}
}

.event_social {
	width:181px;
	height:50px;
	position:absolute;
	left:250px;
	display:block;
	display: none;
}




#view_today .event_social {
	@include icons-sprite(red_right_huge);
	top:10px;
	right:390px;
}


#view_week .event_social {
	@include icons-sprite(teal_right_huge);
	top:137px;
	right:390px;
}

#view_month .event_social {
	@include icons-sprite(blue_right_huge);
	top:200px;
	right:390px;
}

.social_list {
	position:relative;
	left:24px;
}

#content_upcoming {
	width:620px;
	float:left;
	margin-right:10px;
}

#content_quickview, #content_browse {
	width:380px;
	float:left;
	margin-left:10px;
}

#quickview_month_display{
	text-align: center;
	line-height:20px;
}

.month_display_title {
	text-transform:uppercase;
	float:left;
	width:48%;
	height:20px;
	margin:6px 0;
	padding:4px 0;
	border-left:2px solid $teal;
	border-right:2px solid $teal;
	color:$a-color;
}

#eyepiece_display .scroll_prev {
	right:20px;
	top:10px;
}

#eyepiece_display .scroll_next {
	right:20px;
	bottom:10px;
}

#event_content_area_display .scroll_prev {
	right:0;
	top:20px;
}

#event_content_area_display .scroll_next {
	right:0;
	bottom:20px;
}

.side-block-wrap {
	margin-right:5%;
	margin-bottom:2em;
	width:95%;

	> div {

		margin:12px auto 15px;
		max-width:300px;

	}
}

.side-block-wrap-nb {
	margin-right:5%;
	margin-bottom:2em;
	width:95%;
}

#quickview_calendar_square {
	overflow:hidden;
	position:relative;
}

#calendar_square_days {
	padding-top:20px;
}

#calendar_square_events {
	margin-bottom:-9px;
}

.square_events_list {
	width:378px;
	position:relative;
	padding-left:10px;
}

.square_items {
	width:42px;
	height:42px;
	float:left;
	text-align: center;
	line-height:40px;
	margin:0 11px 11px 0;
	font-family: $heading-font-family;
	font-size: 1em;
}

.square_items a {
	color:#ffffff;
	width:42px;
	height:42px;
	display:block;

}

.square_items a:hover{
	background:#f5ef9b;
	color:$a-color;
	font-weight:bold;
}

#browse_categories {
	padding:0 10px;
}

#browse_categories_list {
	padding:0px;
}

.browse-item a {
	width:150px;
	padding:10px;
	float:left;
	text-align:left;
}

.top-margin {
	margin-top:1em;
}

#upcoming_event_selector {
	margin:15px 0 5px 0;
	height:50px;
}
.selector_list {
	margin:0 0 0 5px;
}

.selector_items{
	width:40px;
	height:40px;
	margin: 0 5px 0 0;
}

#event_content_sorting_type {
	padding:10px;
	overflow:hidden;
}

@include bp(med-2) {
	#event_content_sorting_type, #event_content_sorting_type + .large_red_divider {
		display: none;
	}
}

#event_content_area_display {
	position:relative;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 18px;
	@include bp(med-2) {
		margin-top: 0;
	}
}

.days-bg {
	background-color: $a-hover-color;
}


#moviewidget {
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
}

/* mini calendar block */

.date-nav {
	padding-bottom:0;
}

.view-id-calendar {

	.date-heading {
		font-size:0.7em;
		text-transform: uppercase;
	}

	.date-nav {
		padding-bottom: 0;
		margin-bottom: 8px;
	}

	.date-prev a, .date-next a {
		font-size: 1.8em;
		color:$a-hover-color;
		padding:0 12px;
	}

	.date-prev {
		border-right: 1px solid;
	}

	.date-next {
		border-left: 1px solid;
	}

	.date-prev, .date-next {
		border-color:$teal;
	}

	th.days, td.mini {
		color: white;
		padding: 0.6em 0.5em;
		border: 11px solid white;
		text-align: center;
		font-family:$heading-font-family;
		font-weight: normal;
		@include bp(x-small){
			border:3px solid white;
		}
	}

	th.days {
		background-color:$a-hover-color;
		font-size:1.2em;
	}

	td.mini {
		background-color:$teal;
	}

	tr td.today {
		background-color:$highlight;
		color:$a-color;
	}
}

/* calendar full page day view */

.view-id-calendar {

	@include bp(small){
		.date-heading {
			margin:0 2%;
			width:96%;
		}

		.date-nav-wrapper .pager {
			overflow:hidden;
		}

		.date-nav-wrapper .date-next {
			float:right;
			border-left:0px solid;
		}

		.date-nav-wrapper .date-prev {
			float:left;
			border-right:0px solid;
		}

		&:not(.view-display-id-block_1) .date-nav-wrapper .date-next,
		&:not(.view-display-id-block_1) .date-nav-wrapper .date-prev {
			position:relative;
			top:auto;
			left:auto;
			right:auto;
		}
	}

}

/* nav list for admin menu */

.sidebar-first .navi_list a, .sidebar-second .navi_list a {
	display:block;
	margin-bottom:0.2em;
	padding:0.9em;
	background-color:$background-grey;

	&:hover {
		background-color:$grey;
	}
}

/* more link for views */
.more-link a {

    position: relative;
    padding:0.8em 3em 0.9em 0;
    text-align: center;
    display: block;
    max-width: 165px;
    margin:0 auto 10px;
    font-weight: bold;

    &:before {
      content: "";
      position: absolute;
      right:4%;
      top:19%;
      width:26px;
      height:26px;
      border-radius: 26px;
      background-color:$teal;
      z-index: 2;
    }

    &:hover:before {
      background-color:$a-hover-color;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 3;
      width: 0;
      height: 0;
      border-top:5px solid transparent;
      border-left:5px solid white;
      border-right:5px solid transparent;
      border-bottom:5px solid transparent;
      right:6.5%;
      top:38%;
    }

}


/* nav list for tabs */
.tabs.primary {

	overflow:hidden;
	background-color:$background-grey;
	margin:0 0 1em;
	padding:0.4em;

	li {
		float:left;
		margin-left:0.15em;
	}

	a {
		display: block;
		padding:0.5em 1em;
		font-size: 0.8em;
		background-color: white;
	}

	a.active {
		background-color:$teal;
		color:white;
	}
}

.drupal-messages {
	margin:1.5em;
	font-size:1.2em;
	color:$teal;
	font-style: italic;
}