/* Share Icons

	HTML:
	<a class="share--button share--button__facebook" href="https://www.facebook.com/sharer/sharer.php?u={URL}" target="_blank">Share on Facebook</a>

*/
.share-wrap {
	margin:0.9em 0 0.9em 1.3em;
	overflow:hidden;
}

.share {
	display:block;
	overflow:hidden;
}

.share--button {
	@extend .share;
	text-align:left;
	text-indent:-9999em;
	width:42px;
	height:42px;
	float:left;
	background-image:url(../img/share-sprite.png);
	background-repeat:no-repeat;

	+ .share--button {
		margin-left:0.85em;
	}
}

.share--button__facebook {
	background-position:left top;

	&:hover {
		background-position:left bottom;
	}
}

.share--button__twitter {
	background-position:-42px top;
	&:hover {
		background-position:-42px bottom;
	}
}

.share--button__google {
	background-position:-83px top;
	&:hover {
		background-position:-83px bottom;
	}
}

.share--button__mail {
	background-position:-125px top;
	&:hover {
		background-position:-125px bottom;
	}
}