/* styles specific to the venue listing */

.venue-pic {
	margin:0 0 15px 18px;
	@include bp(med){
		margin:0 15px 18px;
	}
}

.venue-title {
	font-size:2.1em;
	color:$a-color;
	line-height:120%;
	margin:0 18px 10px;
	@include bp(small) {
		font-size: 1.8em;
	}
}

.venue-website-phone {
	margin:0 0 20px 18px;
	padding:14px;
	font-size:1.1em;
	font-family:$heading-font-family;
	letter-spacing:0.01em;
	@include bp(large-2){
		margin:0 18px 20px 18px;
		line-height: 135%;
	}

	a {
		color:$a-hover-color;
		font-weight: bold;
	}

	.venue-website + .venue-phone::before {
  		content: "- ";
	}
}

.venue-address {
	margin:-10px 18px 22px;
	color:darken($teal,15%);
	letter-spacing:0.02em;
	background:url(../img/events-details-icons.png) no-repeat -2px -220px;
	padding:10px 28px;

}

.venue-description {
	font-size:1.2em;
	letter-spacing:0.02em;
	line-height:140%;
	margin:0px 0 25px 18px;
}

.venue-row {
	overflow:hidden;
	border-bottom:2px dashed #77C4D3;

	.venue-list {
		display:block;
		padding:1em 0;

		.venue-list-text {
			display: table-cell;
    	vertical-align: middle;
    	height:130px;
 			@include bp(small){
 				height: 100px;
 			}
		}

		img {
			float:left;
			@include bp(small) {
				height: auto;
				width: 150px;
			}
			@include bp(small-2) {
				width:100px;
			}
		}

		p {
			font-size:2em;
			line-height: 110%;
			margin:0 0 0.35em 0.6em;
			@include bp(small) {
				font-size: 1.6em;
			}
		}

		.venue-address {
			margin-left:1em;
			@include bp(small) {
				display: block;
				margin:0 0 0 1em;
				padding-right:0;
				padding-top:0.07em;
				background-position: -2px -230px;
			}
		}
	}
}