<p>The hooks exposed by the Yahoo APT module are:</p>

<ul>
	<li>hook_yahoo_apt_shared_params_alter(&$params)</li>
	<li>hook_yahoo_apt_custom_sections_alter(&$custom_sections)</li>
	<li>hook_yahoo_apt_content_topics_alter(&$content_topics)</li>
</ul>

<h3>hook_yahoo_apt_shared_params_alter</h3>
<p>Modify the Yahoo APT raw build object.</p>

<P>This is useful for adding geographical or user based targeting information which could really
reside anywhere considering the data would not be part of the core.</p>

<p>Appropriate use cases here would be using user location to populate geo-targeting data to send to APT or 
additional user fields for things like income, age, etc. Adding geo location or user data can be useful for
serving more relevant ads to users based on area, income, age, etc.</p>

<pre>
function yallfrommi_yahoo_apt_shared_params_alter(&$params) {
	$params->user_state = 'MI'; // everyone is from Michigan --- muuhhahahaha!!!
}
</pre>

<p>The $params object is a StdClass instance with a structure that mirrors the expected yld_mgr object
literal. Essentially what happens here is that $params object is passed through a simple algorithm
to convert it to a string representing a JavaScript object literal. If you want to know more
dump the content of $params than look at the Yahoo APT yld_mgr embedded JavaScript code within
the head of the HTML document.</p>

<P>In theory any data within the object can be overridden but the hook itself was really only meant for geographical and user data. So
if you change anything else please be sure to know the consequences of doing so!!!</p>

<h3>Overriding Custom Sections and Content Topics</h3>

<ul>
	<li>hook_yahoo_apt_custom_sections_alter</li>
	<li>hook_yahoo_apt_content_topics_alter</li>
</ul>

<p>Both of these hooks really only have one purpose in life. That purpose is to change default custom sections and
content topics provided by the module. The default custom sections and content topics provided by the module are those
applicable to Morris Communications&reg; ad operations. In an effort to make this module useable within any site context
not just Morris&reg; these hooks where added. They effectively allow you to change the list of custom sections
and content topics to anything you like.</p>

<p>The alternative to this for achieving the same goal would be use a vocabulary or Yahoo APT web services. Using
a vocabulary though comes with its own problems and complexities when considered within the realm of Morris&reg;
operations &mdash; who this module is meant for. The ideal way to really achieve this would be to use web services. However,
that would require a considerable amount of investigation and we would also need to deal with the complex task of integrating
that into the hierarchical select module some how.</p>

<p>Essentially, a module would need to be written that provides a hierichical_select
type for one of yahoo apt specific web services or a generic web service in general. That would be a considerable of work, with very little
in return when it comes to the actual requirements of the module from a Morris&reg; operations perspective. So long story
short these hooks would allow one to do the things mentioned if they really wanted to. Yet were a quick solution to what
would have otherwise been a very complex problem.</p>