<h3>Known Limitions</h3>

<ol>
	<li>Mappings and ad spots are not exportable. When a context is exported mapping data will not come along with it.</li>
	<li>When context is deleted on standard context export ui mapping will not be deleted. All mappings should be deleted through the Yahoo APT modules term and path mappings datagrid.</li>
	<li>Searching for mappings via paths is very loose considering the serialized storage of path data via context path condition plugin.</li>
	<li>Searching for mappings via term is not practical considering the serialized storage of values for the context condition node_taxonomy plugin.</li>
</ol>

<h3>Foreseen Issues</h3>

<ol>
	<li>The context module node_taxonomy select menu dumps all terms within the dropdown. This is not scalable and will cause performance and usability issues over time.</li>
</ol>