<p>Once ad spots have been created placing them on a page is a matter of
placing the associated block within a region or panel pane.</p>

<h2>Region Placement</h2>

<img src="&path&advanced/assets/img/block_highlight.gif" alt="adspot block" />

<p>To place an ad spot on the page use the <a href="/admin/structure/block">blocks page</a>. Once on the blocks
page locate the block with a name of: Yahoo Apt Ad: {ad name}. Where {ad name} is the name
of the ad you wish to place. Than treat it like any other block and put it in the region
which you would like the advertisement to appear. Every ad spot will be represented as a
block.</p>

<h2>Panel Pane Placement</h2>

<img src="&path&advanced/assets/img/panel_with_adspot.gif" width="700" height="229" alt="adspot in panel" />

<p>Considering all ad spots are blocks they can also be placed using panels. Therefore, placing
an ad spot within a panel pane can be done just like you would place any other block on the page. When unsure about
what blocks might be enabled or mapping getting matched for a panel page navigate to the page and pass yahoo_apt_debug=1
as a query string parameter.</p>
<p>When this done the ads themselves will not be served. Instead a bunch of useful information
regarding internal mapping and enabled ad spots will be seen. This can be used as a method to double check ads
are properly configured and placed with the intended configuration.</p>

<h2>Troubleshooting</h2>
<ul>
	<li>Ad spots that are not within a region or panel pane on the page will not show up. Ad spots must be either placed
	in a region on the page and/or panel page pane to be served. Obviously regions that are not shown on a page will
	not serve ads within that region.</li>
	<li><p>When the above conditions are satisfied yet ad spots are still not showing the likely cause would be that the ad spot
	is not enabled for the specific page mapping. The best way to trouble shoot this will be to add the query string
	parameter: yahoo_apt_debug=1. This will provide an in-depth overview of internal information used to decide 
	how ads are placed and with what parameters.<p><p>In the status messages there will be line for ads. The list will
	show all blocks/ad spots that exist on the page. Any blocks/ad spots that have a line running through them 
	are those that have been specifically disabled for the current page mapping.<p></p>
	At this point one would need to decide whether the mapping should have the ad spot turned on or whether that conflicts
	with another page and take appropriate action.</p>
</ul>

<h2>Disclaimer</h2>

<p>Considering ad spots are blocks in theory they should be compatible with any system/placement system
that uses block. However, the only contexts that have been tested are panel pages and regions. Other methods
when available should work but might not. Please test before using any other block placement methods.</p>

<p>The reason why this is being stressed is because before panel support was added the system functioned
perfectly. One would think that because regions work panel pages would when an ad block is placed
within them.</p>

<p>However, ad spots did not work when placed in panel panes. There were actually a considerable
number of changes that were required in light of the way panel pages changes execution order of rendering
page elements.</p>

<p>This just goes to show that with Drupal you never know so test!!!</p>