/**
* Modify the ctools export ui form when used for context item within
* the context of creating a yahoo apt term or path mapping.
*/

/**
* Hide the condition and reaction left side regions.
*/
#ctools-export-ui-edit-item-form.yahoo-apt-mapping .context-plugin-selector {
	display: none;	
}

/**
* Display path|term condition and yahoo apt reaction tabs.
*/
#ctools-export-ui-edit-item-form.yahoo-apt-mapping-path .context-plugin-form-path,
#ctools-export-ui-edit-item-form.yahoo-apt-mapping-term .context-plugin-form-node_taxonomy,
#ctools-export-ui-edit-item-form.yahoo-apt-mapping-path .context-plugin-form-domain,
#ctools-export-ui-edit-item-form.yahoo-apt-mapping-term .context-plugin-form-domain,
/*#ctools-export-ui-edit-item-form.yahoo-apt-mapping-default .context-plugin-form-domain,*/ /* uncomment to debug configuration settings for domain when domain context module is enabled */
/*#ctools-export-ui-edit-item-form.yahoo-apt-mapping-default .context-plugin-form-sitewide,*/ /* uncomment to debug configuration settings */
#ctools-export-ui-edit-item-form.yahoo-apt-mapping .context-plugin-form-yahoo_apt_mapping {
	display: block;
}

/**
* Make the plugin forms take up the whole area since the left menus have been hidden.
*/
#ctools-export-ui-edit-item-form.yahoo-apt-mapping .context-plugin-forms {
	float: none;
	width: auto;
	min-height: 0;
}

/**
* Some slight whitespace clean-up
*/
#ctools-export-ui-edit-item-form.yahoo-apt-mapping .context-plugin-form,
#ctools-export-ui-edit-item-form.yahoo-apt-mapping .context-plugins {
	padding: 0;
	margin: 0;
}