/**
 * Second selector accounts for ad blocks that are embedded
 * within panel panes.
 */

.block-yahoo-apt .yahoo-apt-debug,
div[class*="pane-yahoo-apt-"] .yahoo-apt-debug {
	background-color: #eee;
	border: 2px solid red;
	padding: .5em;
}

.block-yahoo-apt .yahoo-apt-debug p,
div[class*="pane-yahoo-apt-"] .yahoo-apt-debug p {
	color: black;
	font-size: x-small;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}