/* widget page styles */

.views-row a { display:block; }

#widget h1 {
        border-bottom:3px double #DCDCDC;
        margin:12px 12px 10px;
        padding-bottom:6px;
        text-shadow:1px 1px 2px #CCC;
        text-transform: uppercase;
}

#widget {
        width:300px; height: 600px;
        background-color:#FFF;
        overflow: hidden;
}

#w-content a {
        padding:8px 12px 8px;
}

#w-content a:hover {
        background-color:#F8F8F8;
        box-shadow:0px 0px 5px #dcdcdc inset;
}

#w-content img {
        float:left;
        border:1px solid #414141;
        box-shadow:0px 0px 2px #414141;
        margin:0 10px 3px 0;
}

#w-content h3 {
        font-size:1em;
        line-height:1.3em;
}

#w-content h4 {
        font-size:.8em;
        color:#393939;
        font-weight:normal;
        font-style:italic;
        padding-top:2px;
}

#w-dates {
        margin:0 12px;
        border-top:4px double #DCDCDC;
        padding-top:3px;
}

#w-dates .view-content { overflow:hidden; }

#w-dates .views-row { float:left; margin-left:4px; }
#w-dates .views-row:first-child { margin-left:0px; }

#w-dates .view-content a {
        background-color:#F8F8F8;
        border:1px solid #dcdcdc;
        height:55px; width:50px;
        box-shadow:0px 0px 5px #dcdcdc inset;
}

#w-dates .view-content a:hover {
        background-color:#9b9b9b;
        border:1px solid #7d7d7d;
        box-shadow:0px 0px 5px #7d7d7d inset;
}

#w-dates .view-content a:hover h6, #w-dates .view-content a:hover h5 {
        color:#FFF;
}

#w-dates h5 {
        font-size:0.85em;
        letter-spacing:0.04em;
        text-transform:uppercase;
        text-align:center;
        padding:2px 0 0;
}

#w-dates h6 {
        text-align:center;
        font-size:1.7em;
        color:#9b9b9b;
        letter-spacing:-0.1em;

}

#w-dates p:first-child {
        float:left;
}

#w-dates p {
        text-transform:uppercase;
        float:right;
        font-size:.8em;
        font-weight:bold;
        letter-spacing:.04em;
        margin:7px 0;
}

#w-dates p a {
        color:#9b9b9b;
}
