/* Standard CSS base styles */

$html-background : '../img/grey_stripe.png';

/* let's combine those png's to a sprite */
@import "icons/*.png";


html {
	height: 100%;
	background: $background-grey url($html-background) repeat;
	font-size: 100%;
}

body {
	max-width:1020px;
	margin: 0 auto;
  padding:0 0.7em;
	min-height: 100%;
  @include bp(x-small){
    padding:0;
  }
}

body, button, input, select, textarea {
	font-size:$default-font-size;
	line-height:$default-line-height;
	font-family: $default-font-family;
	color: $text-color;
}

a, a:visited {
	text-decoration: none;
	color:$a-color;
	cursor:hand;
}

a:hover {
	color:$a-hover-color;
}

/* Embedded content */

img, object, video {
	max-width: 100%; /* Automatically scales images larger than the container. Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/ */
  height:auto;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* Improve IE's resizing of images: css-tricks.com/ie-fix-bicubic-scaling-for-images */
}

h1 {
	margin-bottom:0.5em;
}

.page-taxonomy h1 {
  padding-bottom:1em;
  margin-bottom:0;
  background:url(../img/small_red_divider.png) repeat-x bottom left;
  @include bp(med-2){
    padding:0 0.35em 1em;
  }
}

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) {
	overflow: hidden;
}

/* Primary styles
---------------------------------------- */

#page_container {
  background:#ffffff;
  @include box-shadow(0px 0px 20px -5px rgba(0, 0, 0, .57));
}

body:before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 10;
	box-shadow: 0px 0px 10px rgba(0,0,0,.57);
}

.light_content_text {
	font-weight:normal;
	text-transform:uppercase;

  &:after {
    content:"\A";
    white-space: pre;
  }

  @include bp(med-2) {
    font-family: $heading-font-family;
    font-weight: bold;
    font-size: 0.9em;

    + time {
      color:$a-hover-color;
      @include bp(x-small){
        font-size: 0.9em;
      }
    }
  }

  &:before {
    @include bp(x-small){
      content:"\A";
      white-space: pre;
    }

  }

}

.large-list-item {
	font-family: $heading-font-family;
	text-transform:lowercase;
	font-size:1.125em;
}


.large_teal_divider {
	width:100%;
	height:18px;
	background: $teal url(../img/small_teal_divider.png) top center;
	margin:20px 0;
	clear:both;
	border:0px solid red;
}

@include bp(small-2) {
  .not-front .large_teal_divider {
    margin-top:0;
  }
}

.small_teal_divider {
	width:100%;
	height:1px;
	background: $teal url(../img/small_teal_divider.png) top center;
	clear:both;
}

.large_red_divider {
	width:100%;
	height:8px;
	background: $a-hover-color url(../img/small_red_divider.png) top center;
	clear:both;
	margin:0;
	border:0px solid red;
}

.small_red_divider {
	width:100%;
	height:1px;
	background: $a-hover-color url(../img/small_red_divider.png) top center;
	clear:both;
}

.large_title_background {
	background: $a-color;
	color:#ffffff;
	border-left: 10px solid $teal;
	border-right: 10px solid $teal;
	padding:10px;
	clear: both;

	&.undertitle {
		padding-bottom:0;
		margin-bottom: 0.7em;
	}
}

.solid_divider {
	background: $a-color;
	color:#ffffff;
	border-left: 10px solid $teal;
	border-right: 10px solid $teal;
	height:20px;
	clear:both;
}

.margin_delete {
	margin:0 auto;
}

.side-padding {
	padding:0 10px;
	position: relative;
  @include bp(med-2) {
    &.block-upcoming-events {
      padding:0;
    }
  }
}

#page_content {
	margin-bottom:120px;
}

button, .button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: $teal;
  border-color: darken($teal,20%);
  color: white; }
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: darken($teal,20%); }
  button:hover, button:focus, .button:hover, .button:focus {
    color: white; }
  button.secondary, .button.secondary {
    background-color: $background-grey;
    border-color: darken($background-grey, 20%);
    color: $text-color; }
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
      background-color: darken($background-grey, 20%); }
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
      color: $text-color; }
  button.large, .button.large {
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1.0625em;
    padding-left: 2em;
    font-size: 1.25em; }
  button.small, .button.small {
    padding-top: 0.5625em;
    padding-right: 1.125em;
    padding-bottom: 0.625em;
    padding-left: 1.125em;
    font-size: 0.8125em; }
  button.tiny, .button.tiny {
    padding-top: 0.4375em;
    padding-right: 0.875em;
    padding-bottom: 0.5em;
    padding-left: 0.875em;
    font-size: 0.6875em; }
  button.expand, .button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
  button.left-align, .button.left-align {
    text-align: left;
    text-indent: 0.75em; }
  button.right-align, .button.right-align {
    text-align: right;
    padding-right: 0.75em; }
  button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: $teal;
    border-color: darken($teal,20%);
    color: white;
    cursor: default;
    opacity: 0.6;
    -webkit-box-shadow: none;
    box-shadow: none; }
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: darken($teal,20%); }
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      color: white; }
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: $teal; }
    button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
      background-color: $background-grey;
      border-color: darken($background-grey, 20%);
      color: $text-color;
      cursor: default;
      opacity: 0.6;
      -webkit-box-shadow: none;
      box-shadow: none; }
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: darken($background-grey, 20%); }
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        color: $text-color; }
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: $background-grey; }

button, .button {
  padding-top: 0.8125em;
  padding-bottom: 0.75em;
  -webkit-appearance: none; }
  button.tiny, .button.tiny {
    padding-top: 0.5em;
    padding-bottom: 0.4375em;
    -webkit-appearance: none; }
  button.small, .button.small {
    padding-top: 0.625em;
    padding-bottom: 0.5625em;
    -webkit-appearance: none; }
  button.large, .button.large {
    padding-top: 1.03125em;
    padding-bottom: 1.03125em;
    -webkit-appearance: none; }

//pager
.item-list-pager {
  margin:0.8em 0;
  overflow: hidden;

  li {
    float:left;
    min-width:35px;
    height: 37px;
    text-align: center;
    line-height: 2;
    background-color:$background-grey;
    overflow: hidden;
    color:$text-color;
    + li {
      margin-left:0.2em;
    }
    @include bp(small-2) {
      &.previous, &.next {
        display: none;
      }
    }
  }

  a {
    display: block;
    min-width: 35px;
    height: 40px;
    float: left;
    color:white;
    background-color:$teal;
    &:hover {
      background-color:$a-hover-color;
    }
  }

  .next a, .last a, .first a, .previous a {
    padding:0 0.6em;
  }

}

//autoresizing background image

.image-block {
  float:left;
  display: block;
  width:100%;
  height: 300px;
  background-position:center top;
  background-size:cover;
  text-indent: -9999em;
  overflow: hidden;
}


/* Helper classes */

/*
	* Micro clearfix hack, more semantically titled with 'group'
	* Source: nicolasgallagher.com/micro-clearfix-hack/
*/
.group:before, .group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}

.clear {
	clear:both;
}