/* Colors used globaly */

$background-grey : #e8e8e8;
$text-color 	 : #222222;
$a-color	     : #333745;
$a-hover-color   : #E92F4A; /* red */

$grey			 : #d1d1d1;
$teal			 : #77c4d3;
$lightgrey		 : #ededed;
$highlight		 : #f4f095;
$bordergrey		 : #d7d7d7;

$arrow-color	 : #E92F4A;