/* Mixins for use everywhere */

@mixin width-in-percentage($pixels, $basewidth : 1020) {

	$percentage: $pixels / $basewidth * 100%;

	width: $percentage;

}

@mixin margin-in-percentage($pixels-a, $pixels-b, $pixels-c, $pixels-d, $basewidth : 1020) {

	$top: $pixels-a / $basewidth * 100%;
	$right: $pixels-b / $basewidth * 100%;
	$bottom: $pixels-c / $basewidth * 100%;
	$left: $pixels-d / $basewidth * 100%;

	margin: $top $right $bottom $left;

}

/* creates breakpoints for media queries */
@mixin bp($point) {
  @if $point == x-large {
    @media (max-width: 74em) { @content; }
  }
  @else if $point == large {
    @media (max-width: 66em) { @content; }
  }
  @else if $point == large-2 {
    @media (max-width: 60em) { @content; }
  }
  @else if $point == med {
    @media (max-width: 55em) { @content; }
  }
  @else if $point == med-2 {
    @media (max-width: 43em) { @content; }
  }
  @else if $point == small {
    @media (max-width: 38em) { @content; }
  }
  @else if $point == small-2 {
    @media (max-width: 34em) { @content; }
  }
  @else if $point == x-small {
    @media (max-width: 28em) { @content; }
  }
}