/* Type used globally */

$default-font-family : 'PT Sans', Helvetica, Arial, sans-serif;
$default-font-size   : 1em;
$default-line-height : 1em;
$heading-font-family : 'Arvo', Palatino, 'Palatino Linotype', 'Book Antiqua', FreeSerif, Georgia, serif;


/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
	font-size: $default-font-size;
	font-weight: bold;
	line-height: $default-line-height;
}

h1 {
	font-size:2.11538em;
  @include bp(med-2){
    font-size: 1.8em;
  }
}

h2 {
	font-size:1.61538em;
	text-transform:uppercase;
	letter-spacing:0.02em;
}

h3 {
	font-size:1.30769em;
}