<p>Upon installing the module head over to the <a href="/admin/config/system/morris-omniture">config</a> page to specify the various
required settings. All the settings that belong to the general settings form are
required. It is soley the responsibility of the site maintainer to fill in these
settings based on information provided by omniture and own business practices.</p>

<div class="pullout caution">
    <p>Access to the module configuration page requires the <b>admin morris omniture config</b> permission. Therefore, in the case
    where the page is unable to be accssed the failure is likely due to the current user not belonging
    to a role with the previously mentioned permission. At which point it would be appropriate to
    contact a site administrator to grant the proper permissions to the given user.</p>
</div>

<img src="&path&advanced/assets/img/config_general.jpg" width="85%" alt="general settings form" />