<p>Once the module has been installed there is a series of configuration steps that
must be taken so tagging works properly. The steps can be broken down into
two separate parts:</p>

<ul>
    <li>General configuration</li>
    <li>Variable Mappings</li>
</ul>