<p>Immediately after installing the module head over to the <a href="/admin/config/content/yahoo-apt">configuration page</a>.</p> 

<!-- <img src="&path&advanced/assets/img/config_yahoo_apt.gif" width="532" height="233" alt="drupal config page yahoo apt highlight"> -->

<p>The yahoo apt configuration page requires users to have the permission: <strong>administer yahoo apt mappings</strong>.<p>

<div class="callout">
	<p>If an access denied error message occurs contact a support representative for access rights to the page.</p>
</div>

<p>On the configuration page there will be a series of form fields. These fields are grouped into the
following categories:</p>

<ul>
	<li>Basic Site Info</li>
	<!-- <li>Service Layer</li> -->
	<li>Mapping</li>
</ul>

<p>It is not important to understand what these mean yet. As they become applicable each will be discussed 
in more detail. For now the main thing to know is that each separate fieldset represents a different concept. In some
cases data is required and others it is not which will be explained in length in this guide.</p>

<h2>Basic Site Info</h2>

<img src="&path&advanced/assets/img/config_basic_info_settings.gif" width="575" height="189" alt="basic info form fields">

<p>Basic site info consists of the following fields:</p>

<ul>
	<li>Pub ID</li>
	<li>Site Name</li>
</ul>

<p>Both of these fields are <strong>required</strong> for ad serving to function. Having read the Yahoo APT Ad call implementation
docs they are nothing more than the pub id and site name shared parameters that are required for every ad call.</p>

<div class="callout">
	<p>This information should have been supplied by a Yahoo APT representative. Otherwise one should contact their apt representative for the information
	and specify it here.</p>
</div>

<div style="display: none;"> <!-- configuration settings are supported but the actual service layer has not implemented. I'm really not even that certain if it is necessary or best to do at this point. -->
<h2>Service Layer</h2>

<img src="&path&advanced/assets/img/config_web_service_settings.gif" width="741" height="424" alt="web service credentials form fields">

<p>The native Yahoo APT service can be broken up into two parts:</p>

<ul>
	<li>Ad Call Implementation</li>
	<li>Web Services</li>
</ul>

<p>For the most part end-users will only need to familiarize themselves with the ad call implementation. The ad call implementation
is what the module exposes through various forms. It is what is essentially responsible for displaying ads. On the other end of
the spectrum is the <a href="http://help.yahoo.com/l/us/yahoo/ewsapt/webservices/index.html">Web Services</a> layer. End users not need to familialize themselves with this at all or even understand what it means. In short
the web services layer is used internally to generate varios options on certain forms provided by the apt. This is done in an effort to sync
native entities such as; reporting tags specified through the native Yahoo APT Ad Manager with the Drupal site. Otherwise, one would need to
specifcy entities defined in the native admin manually.</p>

<p>Again though this really isn't all that important when it comes daily operations of
an end user. The only thing that is important is specifying the required authentication information so that the proper data can be generated
internally by the software. This requires specifying the following fields:</p>

<ul>
	<li>Username</li>
	<li>Password</li>
	<li>License Key</li>
	<li>Account ID</li>
</ul>

<p>This manual is not geing to over the purpose of each considering that can clearly be found <a href="http://help.yahoo.com/l/us/yahoo/ewsapt/webservices/gsg/wsg_auth.html;_ylt=Ao5PpcLfICCSfWY0Nn9nQFl5oXdG">here</a>. If you do know or have these available
is would be best to contact your Yahoo APT account representative for the information.</p>
</div>

<h2>Mapping</h2>

<img src="&path&advanced/assets/img/config_mapping_settings.gif" width="841" height="296" alt="default mapping settings fieldset">

<p>Within the context of this configuration page the mapping information exposes several Yahoo APT shared parameters. The parameters
are exposed in a nice easy to use interface. 

<div class="callout">
	The mapping form is nothing more than user inputs for <b>optional</b> Yahoo APT ad call implementation shared parameters.</p>
</div>

<p>In an effort to reduce complexity the terminology set forth by the actual Yahoo APT 
ad call API has been closely mirrored. Therefore, if any of this looks native to you it would be best to familiarize yourself
with the <a href="&path&advanced/assets/pdf/yahoo_apt_publisher_adcall_guide.pdf">Yahoo APT ad call implementation guide</a>. The guide goes over all this and more!</p>

<p>The most important thing to understand in regards to the mapping settings here is that these are the defaults
for the site. Any page which has not been specifically overridden using term or path mapping to be discussed in greater
detail later will use the mapping settings specified here. The mapping settings here act as the <b>fallback</b> for all
pages within the site.</p>

<h3>Multi-Site Exceptions (domain access)</h3>

<p>The yahoo APT module provides integration options when running a multi-site installation using domain access. However, these 
advanced features require the below modules also be installed:</p>

<ul>
	<li>domain config</li>
	<li>domain context</li>
</ul>

<p>When the <strong>domain config</strong> module is installed the <strong>pub id</strong> and <strong>site name</strong> must
be specified for each individual site. This is done by visiting the configuration for each separate site in
 a multi-site installation.</p>
 
 <p>Additionally, when the <strong>domain context</strong> module is installed the default mapping settings must be set
 for each individual site. Every site can have a different configuration for default mapping options.</p>
 
 <p>When domain config is installed each separate site can specify different pub id and site name. For an added
 bonus when domain context is installed each separate site can specify different default mapping settings.</p>
 
<p>Depending on the functionality required one or both modules can be installed. <b>Ideally</b> these extra modules
should be installed before the Yahoo APT module is installed or before any mappings have been created. Enabling
multi-site features after mappings have been created might result in expected mapping resolutions.</p>