/**
 * @file
 * Modify the ctools export ui form when used for context item within
 * the context of creating a morris omniture term or path mapping.
 */

/**
 * Hide the condition and reaction left side regions.
 */
#ctools-export-ui-edit-item-form.morris-omniture-mapping .context-plugin-selector {
  display: none; 
}

/**
 * Display path|term condition and yahoo apt reaction tabs.
 */
#ctools-export-ui-edit-item-form.morris-omniture-mapping-path .context-plugin-form-path,
#ctools-export-ui-edit-item-form.morris-omniture-mapping-term .context-plugin-form-node_taxonomy,
#ctools-export-ui-edit-item-form.morris-omniture-mapping .context-plugin-form-morris_omniture_mapping {
  display: block;
}

/**
 * Make the plugin forms take up the whole area since the left menus have been hidden.
 */
#ctools-export-ui-edit-item-form.morris-omniture-mapping .context-plugin-forms {
  float: none;
  min-height: 0;
  width: auto;
}

/**
 * Some slight whitespace clean-up
 */
#ctools-export-ui-edit-item-form.morris-omniture-mapping .context-plugin-form,
#ctools-export-ui-edit-item-form.morris-omniture-mapping .context-plugins {
  margin: 0;
  padding: 0;
}
