/* events-widget styles (remember to minify) */

html {
  /* remove this crap */
  background-color: #777;
}

#events-widget {

  padding:0;
  margin:0;
  font-size: 16px;
  line-height: 125%;
  width: 100%;
  height: auto;
  background:#FFF;
  overflow: hidden;

}

  #events-widget a {
    transition: all 0.5s ease;
  }

  #events-widget .events-days {
    margin:0;
    padding: 0;
    width: 100%;
    background-color:#E92F4A;
    overflow: hidden;
  }

  #events-widget .events-days li,
  #events-widget .events-list li {
    float: none;
    margin:0;
    padding:0;
    list-style: none;
  }

  #events-widget .events-days a {
    color:white;
    text-transform: uppercase;
    font:normal 0.8em "tahoma", arial, sans-serif;
    display: block;
    float:left;
    text-decoration: none;
    text-align: center;
    width:14.2857%;
    padding:1em 0;
  }

    #events-widget .events-days a:hover {
      background-color:#cf1a37;
      text-decoration: none;
    }

  #events-widget .events-today a {
    background-color:#cf1a37;
  }

  #events-widget h3 {
    margin:0;
    padding:0.4em 0;
    background-color:#e7e7e7;
    box-shadow: 0px 0px 5px #c9c9c9 inset;
    width: 100%;
    text-align: center;
  }

    #events-widget h3 a {
      font:bold 0.62em "tahoma", arial, sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color:#E92F4A;
      letter-spacing: 0.06em;
    }

      #events-widget h3 a:hover {
        color:#333745;
        text-decoration: none;
      }

#events-widget .events-list {
  margin:0;
  padding: 0;
  overflow: hidden;
}

  #events-widget .events-list a {
    color:#333745;
    display: block;
    width: 100%;
    border-bottom:1px dashed #e7e7e7;
    text-decoration: none;
    margin: 0;
    padding: 0.65em 0 0.8em;

  }

    #events-widget .events-list li:first-child a {
      border-top:1px dashed #e7e7e7;
    }

    #events-widget .events-list a:hover {
      color:#E92F4A;
      text-decoration: none;
    }

    #events-widget .events-list h4 {
      font:normal 0.95em/130% "tahoma", arial, sans-serif;
      letter-spacing: 0.02em;
      margin: 0 0.9em;
      padding: 0;
    }

    #events-widget .events-list p {
      font:italic 0.75em/130% "tahoma", arial, sans-serif;
      color: #E92F4A;
      margin: 0 0.9em;
      padding: 0.2em 0 0;
      letter-spacing: 0.02em;
    }

    #events-widget .events-more {
      display: block;
      width: 100%;
      height: auto;
      text-decoration: none;
      background-color:#333745;
      color:white;
      text-align: center;
      letter-spacing: 0.05em;
      font:normal 0.9em/130% "tahoma", arial, sans-serif;
      padding: 0.8em 0 1em;
      position: relative;
    }

      #events-widget .events-more:hover {
        text-decoration: none;
        background-color:#E92F4A;
      }

    #events-widget .events-more span {
      position: relative;
      padding:0 3em 0 0;
    }

    #events-widget .events-more span:before {
      content: "";
      position: absolute;
      right:4%;
      top:-16%;
      width:26px;
      height:26px;
      border-radius: 26px;
      background-color:#1f212b;
      z-index: 2;
    }

    #events-widget .events-more:hover span:before {
      background-color:#cf1a37;
    }

    #events-widget .events-more span:after {
      content: "";
      position: absolute;
      z-index: 3;
      width: 0;
      height: 0;
      border-top:5px solid transparent;
      border-left:5px solid white;
      border-right:5px solid transparent;
      border-bottom:5px solid transparent;
      right:7%;
      top:25%;
    }