<p>Mappings are nothing more than a way to override default apt configuration settings. Specific page
configuration changes can be achieved using one of two methods:</p>

<ul>
	<li>path mapping</li>
	<li>node term mapping</li>
</ul>

<p><small><strong>Developer note:</strong> For those technical users reading this document a mapping is really nothing more than
a <b>context</b>. In all actuality a mapping can use any condition. However, the only conditions exposed 
as part of the internal apt structure are for node terms and paths following UI set forth by the CASAA apt-plugin module. Simply
put Yahoo APT settings are nothing more than a reaction extending the context module. Mapping forms are context forms
that have had elements hidden and set to better support end-user business goals without bombarding them with the complexity
of the default context form.</small></p>

<p>Node term mappings are trigged when a node exist on the page with the given term. This can be in the form of
 an aggregate list of individual node page, node queue or other aggregated node list. When multiple node term mappings
 are matched one will be chosen at random. So if you need more control a path mapping is probably the best bet. Additionally,
 path mappings will take precedence over node term mappings. Meaning path mappings are considered to be more specific than a more
 generalized node with a term.</p>
 
 <h2>Overview/Node Term Mapping</h2>
 
 <img src="&path&advanced/assets/img/mapping_term_list.gif" width="600" height="263" alt="term mapping data grid">
 
 <p>To create a node term mapping visit the <a href="/admin/structure/yahoo-apt/mappings/terms">node term mapping page</a>. From there click the link at the top
 with a title of <b>Add Term Mapping</b>.</p>
 
  <img src="&path&advanced/assets/img/mapping_term_taxonomy_focs.gif" width="600" height="224" alt="term mapping taxonomy select menu" />
 
 <p>Once the link is clicked a form similar to the default configuration form will
 be shown. However, the form will exclude any options that can't be overridden like site name and pub id. Located at the very
 top of the form will be an input to choose one or more taxonomy terms. Use this menu to choose the node taxonomy terms which should
 enable the current mapping.</p>
 
 <p>Once that is done go through the bottom forms and specify any content types, content topics or custom sections that
 should be used on the page. There is also a tab for other parameters that exposes some additional options which mirror
 the native Yahoo APT options. Generally speaking these options will not need to be changed but they are there if they need to
 be for a specific case/business goal.</p>

 
 <p>At the very bottom you might also notice a tab called <b>Active Ads</b>. The way ads work by default is that <b>all</b> ads that
 are represented on the page via blocks are shown. What the <b>Active Ads</b> tab makes possible is to enable only specific 
 advertisements even though they may still have blocks on the page.</p> 
 
  <img src="&path&advanced/assets/img/mapping_term_active_ads_tab.gif" width="600" height="249" alt="term mapping active ads tab" />
 
 <p>A good use case for this is running a promotional
 ad that needs to show up on one specific page replacing the existing top ad. Using this tab it is easy to only select the ads
 which will be shown regardless of whether they are represented as blocks on the page. Conceptually speaking all ad blocks are still
 shown on the page but showing an ad within is dependent on whether the ad is enabled or not via this tab.</p>
 
 <p>It is important to know that checking enabled ad spots is not required. A mapping without any checked ad spots will fall back to the default
 behavior of serving all ads represented as blocks that exist on the page. When it comes down to it ad serving comes down to two things. The first
 is whether the block/ad spot exists on the page. The second is whether the ad spot is enabled. A good way to check this is using the inbuilt debugging
 tools via passing yahoo_apt_debug=1. When that is done instead of serving ads a bunch of information is shown regarding how the system determines the proper
 ads to show and with what specific configuration.</p>

<h2>Path Mapping</h2>

 <img src="&path&advanced/assets/img/mapping_path_list.gif" width="600" height="272" alt="term mapping data grid">

<p>A path mapping can be created by visiting the <a href="/admin/structure/yahoo-apt/mappings/paths">path mapping page</a>. Once on that page clicking on the top link
with a title of <b>Add Path Mapping</b> will bring you to the path mapping create form.</p> 

  <img src="&path&advanced/assets/img/mapping_path_path_focus.gif" width="600" height="164" alt="path mapping path" />

<p>Everything on this form is the <b>same</b>
as the node term mapping form. That is with the exception of an input for a path rather than taxonomy term. Type the path into
the supplied path input &mdash; wildcard character * is supported.</p>

 <p><small><strong>Developer note:</strong> For more technically inclined users reading this manual the path input is nothing more than the standard
 path condition exposed via the context module. The only difference is that instead of a text area it is a text field
 to better imitate the CASAA apt-plugin path mapping form.</small></p>

<h2>Deleting Mappings</h2>

<p>Mappings can be deleted by visiting either the <a href="/admin/structure/yahoo-apt/mappings/terms">path mapping</a> or <a href="admin/structure/yahoo-apt/mappings/path">node term mapping</a> pages and checking
the mappings to be deleted. Once the mappings have been checked navigate to the <b>operations</b> fieldset above the mapping table. Than select delete and click the update
button to the right of the operations drop down. When that is done the checked mappings will be deleted and status message will appear at the top.</p>