<p>This page will discuss in detail how the yahoo apt configuration is derived for a page
which matches several mappings/contexts. This will be done within the context of understanding
the inbuilt browser debugging tool.</p>

<p>The first important thing to understand about how configuration is derived is that only a single
mapping will be used. When a page/request matched conditions for multiple mappings only one
of those mappings will become active on the page.</p>

<p>In general conflicts between different mappings can be difficult to troubleshoot. This is why the yahoo apt
module provides an internal debugging system that outputs a whole bunch of useful information regarding
the mapping, context(s) and ad spots enabled on a page.</p>

<h2>Debugger</h2>

<p>Turning the debugging state on for yahoo apt is a simple matter of passing <b>yahoo_apt_debug=1</b> as a query
string parameter. When this is done the ads themselves are not served. Instead ads are replaced with configuration
information and several status messages appear at the top. The status messages at the top contain several pieces
of relevant data for debugging and checking whether the intended yahoo apt configuration is being used for a request/page.</p>

<img src="&path&advanced/assets/img/debug_overview.gif" alt="request with debugging turned on">

<p>Within the status message area there are several useful properties that can be analyzed to troubleshoot
a problematic page/request:</p>

<dl>
	<dt>Mapping ID</dt>
	<dd>The Yahoo APT mapping in use on the page. This is the primary key of a row within the table yahoo_apt_mapping.</dd>
	<dt>Context</dt>
	<dd>List of <b>ALL</b> contexts that have been satisfied for the given page/request. The one that is <b>bold</b> is the 
	context which hosts the yahoo apt mapping settings. If you were to visit the row in the table yahoo_apt_mapping
	the context_id would be the name of the bold context in this list.</dd>
	<dt>Ad Blocks</dt>
	<dd>These are <b>ALL</b> the ad spot blocks that exist in regions on the page. Regardless of whether or not
	an ad spot has been disabled this will be a list of all the blocks. However, any ad spots that are not enabled
	on the page will have a <s>strike</s> through the name. What these means from a technical stand-point is that the block
	physically exists on the page but the mapping being used has disabled the ad spot. This can also be verified by looking
	at the block on the page. The blocks have a list of properties. One of them will be enabled. When enabled is No that it verifies
	the block is on the page but the ad spot has been disabled.</dd>
	<dt>Advertising Disabled</dt>
	<dd>Whether advertising has been disabled for the page. Some paths should not show ads like the admin. So this can be used
	to determine whether all advertising has been turned off for a request. The blocks and everything will still exist just
	as if ads where on but no ads will be served preventing the misleading action of fake impressions. Not to mention the annoying
	behavior of ad serving on administrative pages.</dd>
</dl>

<p>Within the actual ad spot blocks themselves the raw Yahoo APT configuration information will be shown. That is with the exception
of the enabled property which is added for ease of determining whether an ad spot block will actual serve an ad or be hidden.</p>

<h2>Precedence</h2>

<p>Once mappings have been created over a prolonged period of time resolving possible conflicts will likely
become an issue. The debugging tool offers a means of handling this with relative ease. None the less, understanding
how the system actual determines the mapping/context to be use for a request is also an important
part of the equation.</p>

<ol>
	<li>Path mapping</li>
	<li>Node Term Mapping</li>
	<li>Any other Mapping</li>
	<li>Default</li>
	<li>Site wide Default</li>
</ol>

<p>Path mapping is the most specific type of mapping. When a request matches multiple path mappings one
at random will be chosen.</p>

<p>Path mapping is followed by node term mapping. When a request matches multiple node term mappings one
will be chosen at random.</p>

<p>Next up is any other context which has a mapping reaction enabled.</p>

<p>If no context is found than the default is used specified within the configuration settings</p>

<p>When that fails the first context flagged as site wide default with a yahoo apt mapping
reaction is used.</p>

<p><small><strong>Developer Note:</strong> For technical users the actual algorithm to resolve the mapping can be
found within the function yahoo_apt_discover_context(). That function resides inside the main module file and
is solely responsible for determining the context that should used. The context than directly translates
over to a mapping via the yahoo_apt_mapping database table contain a foreign kept to the context which it
is associated with.</small></p>

