<p>
These defaults will be applied to all pages that do not match any other mappings. These
settings are site specific. Therefore, when using the domain module they apply to the currently
active site. So settings them for a multiple site installation using domain access requires
visiting this same page for each site/domain and setting them for that particular site. The only
required settings are pub id and site name. All others will dependent on the specific apt
set-up. The only required settings are pub id and site name. All others are optional based on the
the set-up through apt.
</p>

<p>
There are some exceptions to these rules based on modules that have been installed. When neither domain
access nor domain context are installed these settings apply to the single site. However, when domain access is
installed pub id and site id apply to each individual domain but other settings are shared accross all sites such
as; content topic types, content categories, etc. When both domain access and domaon context are enabled
all settings are specific to each individual site for which the current site is active. So if you need to have
completely different settings for a multiple site install domain context will be necessary.
</p>