<p>Removing variable mappings requires the same permission as creating variable mappings. That permission
is <b>admin morris omniture var mappings</b>. Users assigned to roles without the previously mentioned permission
will not be allowed to delete permissions. In fact the remove button will not even be shown to them. Deleting
a variable mapping potentially has very negative business implications. Therefore, a separate permission
is used to prevent accidently deletion of variable mappings and keep those who don't necessarily know 
business implications of doing so grounded. Essentially, unable to change the structure set-up for tagging
a site but able to change settings for variable mappings.</p>

<img src="&path&advanced/assets/img/config_vars_remove.jpg" width="90%" alt="remove variable mapping" />

<p>Removing a mapping is very simple. When a user is allowed to remove variable mappings a button will be provided
that says Remove. Upon clicking the remove button the variable mapping will be deleted. Once a variable mapping
is deleted the data associated with it will no longer be sent to Omniture. </p>

<div class="pullout dev">
    <p>When a variable mapping is removed a series of clean-up steps might take place. In most
    cases this will involve removing Drupal variables and/or updating database tables.
    An example is when pageType variable mapping is removed the Drupal variable that contains the data is deleted. Additionally, any mapping overrides *should remove data associated with
    the plugin. This is done for all plugins within this module but can't be enforced by authors
    of new variable plugins defined outside this module. It would be the plugin authors responsibility
    to determine whether clean-up should occur when a variable becomes unmapped based on the interface for a omniture
    variable plugin that will be discussed in the development docs.</p>
</div>